/*--mystyle.css--*/

.sidepanel ul {
	margin: 0;
	padding: 0;
 
	}
.sidepanel li {
	line-height: 1.5em; 
	display: block; 
	padding-top: 0px; 
	margin-bottom: 5px;
	list-style-type: none;
    text-align:left;
	}

h4{background-color: rgba(232, 219, 174, 0.8);
  padding: 12px;
  vertical-align:center;
}

.doublemap ul {
	margin: 0;
	padding: 0;
 
	}
.doublemap li {
	line-height: 1.5em; 
	display: block; 
	padding-top: 0px; 
	margin-bottom: 5px;
	list-style-type: none;
    text-align:left;
	}

body{
  font-family:Courier;
}

.context{
  font-family:Courier;
}

h5{text-align:center; 
  margin-top:0px; 
  font-size:13.5px; 
  font-weight:regular;
  font-family:Courier;
}

.subheader{
	border-bottom: 0px;
}