/*--mystyle.css--*/

.sidepanel ul {
	margin: 0;
	padding: 0;
 
	}
.sidepanel li {
	line-height: 1.3em; 
	display: block; 
	padding-top: 0px; 
	margin-bottom: 5px;
	list-style-type: none;
    text-align:left;
	}

h4{background-color: rgba(232, 219, 174, 0.8);
  padding: 12px;
  vertical-align:center;
}



